body{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body header{
    position: absolute;
    margin: 20px 0 0 0;
    width: 100%;
    text-align: center;
}

body header a{
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    margin: 0 40px 0 40px;
    color: rgb(197, 199, 202);
    transition: 0.5s ease-out;
}

body header a:hover{
    color: #ffffff;
}

.main{
    background-image: url(./parallax_land.jpg);
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    display: flex;
    justify-content: center;
    align-items: center;
}

.main .product-description{
    margin: 30px 30px 30px 30px;
    padding: 35px 35px 35px 35px;
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    background-color: #3a3c40;
    font-family: 'Montserrat', sans-serif;
    color: #fefbfc;
    mix-blend-mode: hard-light;
}
.main .product-description a{
    text-decoration: none;
    color: #fefbfc;
}

.main .product-description .variant-selector{
    display: flex;
    flex-direction: row;
}
.main .product-description .variant-selector button{
    font-family: 'Montserrat', sans-serif;
    margin: 0 30px 0 0;
    /* color: #fefbfc; */
}
.main .product-description .variant-selector button span img{
    padding: 1.5px 0 0 0.5px;
}

.main .calc{
    margin: 30px 30px 30px 30px;
    padding: 45px 0 0 0;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    background-color: #22252d;
    font-family: 'Montserrat', sans-serif;
    color: #fefbfc;
    mix-blend-mode: hard-light;
}

.main .calc .calc-display input{
    width: 180px;
    height: 80px;
    font-size: 16px;
    outline: none;
    border: 2px solid #fefbfc;
    border-radius: 8px;
    margin: 0 0 0 20px;
    background-color: #fefbfc;
}

.main .calc .calc-btn{
    background-color: #292931;
    padding: 35px;
    border-radius: 20px;
}

.main .calc .calc-btn button{
    width: 35px;
    height: 35px;
    margin: 2px;
    font-family: 'Montserrat', sans-serif;
    /* color: #fefbfc; */
}
